@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="doorLog">

</div>
<script src="scripts/signalr-client.min.js"></script>
<script lang="javascript">
    let connection = new signalR.HubConnection('/doors');

    connection.on('send', data => {
        console.log(data);
    });

    function displayDoors(door){
        console.log(door);
        document.getElementById("doorLog").textContent="ID: "+ door.id + " State: "+ door.state;
    }
    connection.start()
            .then(function(){
              connection.stream("StreamDoors","50").subscribe({
                    next: displayDoors,
                    error: function (err) {
                        logger.log(err);
                    }});
            });


</script>